body {
  font-family: sans-serif;
  color: #121212;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(ellipse at center, #bceec7 50%,#00a293 100%);;
  font-size: 12px;
}

nav {
  width: 100vw;
  background: tomato;
  display: block;
  display: flex;
  justify-content: center;
  a {
    padding: 1.4rem;
    color: white;
    text-decoration: none;
    background: darken(tomato, 20%);
    transition: all .3s ease;
    &:hover {
      background: darken(tomato, 30%);
    }
  }
}

.wrapper {
  text-align: center;
  img {
    max-width: 90%;
  }
}